@media(min-width: 1200px) {
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container {
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }

    .footer {
        bottom: 0em;
        position: absolute;
        width: 100%;
        height: 2.5em;
    }

    .footer .container {
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }
}

@media (max-width:770px) {
     .footer {
        bottom: 0em;
        position: absolute;
        width: 100%;
        height: 2.5em;
    }

    .footer .container {
        margin-left: auto;
        margin-right: auto;

    }
}

.onePadding {
    padding-top:1em;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination > ul {
   border-radius: 4px;
   display: inline-block;

}

.pagination > li {
    display: inline;
}

li.previous.disabled.unavailable{
    display: inline;
}

li.active {
    display: inline;
}

li {
    display: inline;
    text-align: center;
}

.glyphicon.glyphicon-pencil{
    font-size: 20px;
}
